body {
    background-image: url("/assets/authentication/background.svg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin: 0; 
    height: 100vh; 
}