<div class="task-container">
  <header>
    <h1>Today's Completed Tasks</h1>
    <span class="date">{{ currentDate | date : "EEEE, d MMMM y" }}</span>
  </header>
  <ul class="task-list">
    <li
      *ngFor="let task of todotasks"
      [ngClass]="getClass(task.isCompleted)"
      class="task-item"
    >
      <img
        class="task-checkbox"
        [src]="getSrc(task.isCompleted)"
        alt="completed task"
        (click)="toggleActive(task)"
      />
      <span>
        {{ task.taskName }}
      </span>

      <div class="task-detail">
        <h2>{{ task.taskName }}</h2>
        <p class="task-duration">Added {{ task.createdAt | timeAgo }}</p>
        <h3>Description</h3>
        <p>{{ task.taskDescription }}</p>
        <div class="task-actions">
          <span class="icon checkbox-icon" (click)="toggleActive(task)"></span>
          <div class="task-action-right">
            <span class="icon edit-icon"></span>
            <span class="icon delete-icon" (click)="openDialog(task)"></span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<app-delete-confirmation-dialog
  *ngIf="showDialog"
  (confirmDelete)="handleConfirmDelete($event)"
  [isDashboard]="false"
></app-delete-confirmation-dialog>
